@import "../../styles/variables";

.registration-form {
    .loginLink {
    color: $linkColor;
    }
    color: $color;
}

.register {
    &.card {
        border-color: $borderColorCard;
    }
}
