@import "../../styles/variables";

.profile-view {
    .userInfo {
        border-color: $borderColorCard;
    }    
    .updateUser {
        border-color: $borderColorCard;
    }    
    .backBtn {
    color: $linkColor;
    }
    color: $color;
}

.favMovies {
    &.card {
        border-color: $borderColorCard;
    }
}