@import "../../styles/variables";

.login-form {
    .registerLink {
    color: $linkColor;
    }
    color: $color;
}
.logIn {
    &.card {
        border-color: $borderColorCard;
    }
}
